{% extends'layout.html.twig' %}
{% block content %}
<h1>Book list</h1>

<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Tiile</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
            <tbody>


{#{% set row = 0 %}#}
        {%   for book in books %}
            <tr>
                <td>{{ loop.index }}</td>
                {#{% row = row + 1 %}#}
                {#<th scope="row">{{ 1 }}</th>#}
                <td>{{ book.getTitle }}</td>
                <td>{{ book.getCategory().getName() }}</td>
                <td>{{ book.getPrice() }}</td>


                <td><a class="btn btn-outline-info btn-sm" href="{{ path('book_item',{'id' :  book.getId  }) }}"> Details </a>
                    <a class="btn btn-outline-warning btn-sm" href="{{ path('cart_add',{'id' :  book.getId  }) }}"> Add to Cart </a></td>
            </tr>

        {% endfor %}

            </tbody>
</table>
{% endblock %}